.cart-container {
    position: static;
    top: 95px; /* Added 'px' to the value */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    color: black;
    width: 100%;
    height: auto;
    z-index: 1000;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Added to space items around */
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h3 {
    margin: 0;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
  }