.cart-container {
  
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    z-index: 1000;
    color: black;
  }
  
  .cart-item {
    display: flex;
    width: 100%;
    justify-items: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: auto 0;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h3 {
    margin: 0;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .cart-total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
  }

  /* Media queries for responsiveness */
@media (max-width: 768px) {
  .cart-container {
    padding: 10px;
    max-width: 100%;
  }

  .cart-item {
    
    align-items: flex-start;
  }

  .cart-item-image {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }

  .cart-item-details {
    width: 100%;
  }

  .cart-total {
    text-align: center;
  }
}


@media (max-width: 480px) {
  .cart-container {
    padding: 5px;
  }

  .cart-item-image {
    width: 60px;
    height: 60px;
  }

  .cart-item-details h3 {
    font-size: 16px;
  }
  .cart-item-details p {
    font-size: 14px;
  }

  .cart-total {
    font-size: 16px;
  }
}